#!/bin/bash

KLIPPER_DIR="${HOME}/klipper"
KLIPPY_ENV="${HOME}/klippy-env"
KLIPPER_CONFIG="${HOME}/printer_data/config"
KLIPPER_REPO="https://github.com/Klipper3d/klipper.git"

# Packages for python cffi
PKGLIST="virtualenv python3-dev libffi-dev build-essential"
# kconfig requirements
PKGLIST="${PKGLIST} libncurses-dev"
# hub-ctrl
PKGLIST="${PKGLIST} libusb-dev"
# AVR chip installation and building
#PKGLIST="${PKGLIST} avrdude gcc-avr binutils-avr avr-libc"
# ARM chip installation and building
#PKGLIST="${PKGLIST} stm32flash libnewlib-arm-none-eabi"
#PKGLIST="${PKGLIST} gcc-arm-none-eabi binutils-arm-none-eabi libusb-1.0 pkg-config"